---
title: Algolia Places <iframe src="https://ghbtns.com/github-btn.html?user=algolia&repo=places&type=star&count=true&size=large" width="160" height="30" id="github-button"></iframe>
subtitle: Turn any <code>&lt;input&gt;</code> into an address autocomplete
layout: landing
---

%section.hero-section.gradient-secondary.color-white.pos-rel{class: [("shrink" if current_page.path != "index.html")]}
  .container
    .spacer80
    .spacer64.hidden-sm
    .flex-container.flex-dir-row.flex-align-center
      .flex-it-2
        %h1.text-heading= current_page.data.title
        %h3.text-bg= current_page.data.subtitle

      .flex-it-2
        .pull-right.hidden-sm
          = partial("/images/svg/places-illustration.svg")
      %input#landing-demo.hero-searchbar.form-control{type: "search", autofocus: true, placeholder: "Search a city or address", style: 'opacity: 0'}
    
    .spacer64

    .pos-rel.unscroll.p-b-large
      #json-response.p-large.elevation2.radius6.m-t-large.m-b-large.m-l-r-auto.pos-rel
        #json-response-text
        #json-response-timing


%section.cta-section.pos-rel.fill-white
  .spacer64
  .container
    .flex-container.flex-dir-col.flex-align-center
      %h2.text-lg.text-center Fast, beautiful and easy-to-use address autocompletion
      .spacer32
      %p.text-center Algolia Places provides a fast, distributed and easy way to use address search autocomplete JavaScript library on your website. It has been designed to improve the user experience of your HTML forms.
      .spacer32
      %p.text-center
        It harnesses
        = succeed("’s") do
          = link_to("OpenStreetMap", "documentation.html#license")
        impressive
        = link_to("open source database", "http://wiki.openstreetmap.org/wiki/Planet.osm")
        of worldwide places.

        .spacer32
        .flex-container.flex-dir-row.flex-align-center.flex-space-between
          = link_to("Get Started", "documentation.html", class: "btn m200")
          = link_to("Sign up for free", "https://www.algolia.com/users/sign_up/places", class: "btn btn-static-secondary btn-lg m200")

  .spacer120
  .spacer64

%section.examples-section.fill-titan.pos-rel
  .spacer32
  .container
    .text-center
      %h2.text-lg One library, many possibilities
      %p Delight your users by implementing a powerful addresses autocomplete in minutes.
    .spacer120.hidden-sm
    .spacer32.visible-sm


    .flex-container.flex-dir-col
      .flex-container.flex-align-center
        .flex-it-2
          = image_tag("https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,w_600/v1461833483/Algolia_Places_-_demo_checkout_v2_1_zwg57n.gif", class: "gif p-large radius6 elevation0 fill-white w100p")
        .flex-it-2
          .content.m-l-r-auto
            %h3.text-bg Autocomplete your forms
            %p Simplify your checkout and users’ accounts by filling multiple inputs at the same time.
            = link_to("View code", "examples.html#complete-form")
      .spacer32

      .flex-container.flex-align-center.reverse-col
        .flex-it-2
          .content.m-l-r-auto
            %h3.text-bg Create the best city or country selector
            %p Stop scrolling through a list to pick a country. Help your users find it faster.
            = link_to("View code", "examples.html#country-search")
        .flex-it-2
          = image_tag("https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,q_100/v1462192192/Algolia_Places_-_demo_country_v2_gsn2qq.gif", class: "gif p-large radius6 elevation0 fill-white w100p")
      .spacer32

      .flex-container.flex-align-center
        .flex-it-2
          = image_tag("https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,w_600/v1462178462/Algolia_Places_-_demo_map_v2_tbsfvm.gif", class: "gif p-large radius6 elevation0 fill-white w100p")
        .flex-it-2
          .content.m-l-r-auto
            %h3.text-bg Link suggestions to a map
            %p Visualize the results at a glance by displaying them on a real-time map.
            = link_to("View code", "examples.html#displaying-on-a-map")
      .spacer32

      .flex-container.flex-align-center.reverse-col
        .flex-it-2
          .content.m-l-r-auto
            %h3.text-bg autocomplete.js & instantsearch.js ready
            %p Build unique search experiences with the autocomplete.js & instantsearch.js plugins for Algolia Places.
            = link_to("View code", "examples.html#places--custom-data")
        .flex-it-2
          = image_tag("images/hp-demo-autocompletejs.gif", class: "gif p-large radius6 elevation0 fill-white w100p z-100 pos-rel")
      .spacer32



%section.marketing-section.fill-white.pos-rel
  .spacer120
  .spacer64
  .container.text-center
    .flex-container
      .flex-it-2.flex-container.flex-dir-col
        .flex-it-3
          = image_tag("images/svg/illus-feat-autocomplete.svg")
        .flex-grow-1
          .content
            %h3.text-bg Easy to use
            %p
              A JavaScript
              %b one liner
              to turn any HTML
              %code &lt;input&gt;
              into fast & beautiful address auto-complete menus.

      .flex-it-2.flex-container.flex-dir-col
        .flex-it-3
          = image_tag("images/svg/illus-feat-relevance.svg")

        .flex-grow-1
          .content
            %h3.text-bg Relevant
            %p
              Backed by Algolia's
              = succeed(",") do
                = link_to("unique ranking algorithm", "https://blog.algolia.com/how-algolia-tackled-the-relevance-problem-of-search-engines/")
              Algolia Places mixes
              %b intuitively relevant local and famous
              places.

    .spacer64
    
    .flex-container
      .flex-it-2.flex-container.flex-dir-col
        .flex-it-3
          = image_tag("images/svg/illus-feat-typo-tolerance.svg")
        .flex-grow-1
          .content
            %h3.text-bg Typo tolerant
            %p
              Native support of
              %b typing mistakes
              thanks to the
              = link_to("unique way", "https://www.algolia.com/doc/relevance/typo-tolerance")
              Algolia handles typos and ranks results accordingly.

      .flex-it-2.flex-container.flex-dir-col
        .flex-it-3
          = image_tag("images/svg/illus-feat-rocket.svg")

        .flex-grow-1
          .content
            %h3.text-bg Blazing fast
            %p
              Deliver search results your users in
              = succeed(",") do
                %b milliseconds
              no matter where they are. All queries are automatically routed to our
              = succeed(".") do
                = link_to("closest server", "https://www.algolia.com/infra")

  .spacer120